<Settings>
	<InitPopulationSize>500</InitPopulationSize>
	<PopulationSize>100</PopulationSize>
	<MutationProbability>0.1</MutationProbability>
	<CrossoverProbability>0.5</CrossoverProbability>
	<MaxDuration>300</MaxDuration>
	<MaxIterations>100</MaxIterations>
	<MaxTreeDepth>5</MaxTreeDepth>
	<KeeperThreshhold>20</KeeperThreshhold>
	<Operators>
		<Operator>
			<value>+</value>
		</Operator>
		<Operator>
			<value>-</value>
		</Operator>
		<Operator>
			<value>/</value>
		</Operator>
		<Operator>
			<value>*</value>
		</Operator>
	</Operators>
	<Operands>
		<Operand>
			<value>0</value>
		</Operand>
		<Operand>
			<value>1</value>
		</Operand>
		<Operand>
			<value>2</value>
		</Operand>
		<Operand>
			<value>3</value>
		</Operand>
		<Operand>
			<value>4</value>
		</Operand>
		<Operand>
			<value>5</value>
		</Operand>
		<Operand>
			<value>6</value>
		</Operand>
		<Operand>
			<value>7</value>
		</Operand>
		<Operand>
			<value>8</value>
		</Operand>
		<Operand>
			<value>9</value>
		</Operand>
		<Operand>
			<value>x</value>
		</Operand>
	</Operands>
</Settings>